/*Estilizando a aprarência da página*/

body{ 
	background-image: url("../HTML/cartola.jpg");
	
	/*background-repeat: no-repeat;/
	z-indexmoz-background-size: 100% 100%;
	z-indexwebkit-background-size: 100% 100%;
	background-size: 100% 100%;*/
	font-family: helvetica, sans-serif;
}
body h1, h2, h5{
	color: #000000;
}
body h1{
	height: 12px;
}
body h5{
	height: 12px;
}

a:link, a:visited{
	color: #000000;	
}
#wrap{
	 width: 910px;
	 margin: auto;
	 background: #f6f6f7;
	 padding: 10px 20px;
	 overflow: hidden;
	 	 
}
header ul li a:hover{
	text-decoration: none;
}
#LookTable{	
	border-style: collapse;
    border-color: #000000;
}
#LookTable tr td{
	width: 30px;
}
#LookTable tr td a{
	color: #000000;
	font-size: 15px;
}
#head{
	width: 88%;
	float: left;
}
#relogio{
	float: right;
}
#content #imagens{
	size: 50%;
}
aside #youtube{
	background: url("../HTML/youtube.jpg");	
}
header nav ul{
	list-style: none;
	padding-left: 0px;
}
header nav ul li{
	display: inline-block;
	margin-right: 10px;
}
header nav ul li a{
	font-size: 18px;
	color: #000000;
}
#content{
	float: right;
	width: 650px;
	background: none;
}

aside ul li a:hover{	
	text-decoration: none;
}

#sideBar{
	float: left;
    /*definimos a largura do box*/
    width:150px;
    /* definimos a cor de fundo do box */
    background-color:#496b86;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 5px 5px 5px;
    }
#sideBar2{
	float: right;
    /*definimos a largura do box*/
    width:150px;
    /* definimos a cor de fundo do box */
    background-color:#496b86;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px 20px 30px;
}
footer{
	float: right ;
	clear: both;
}
